<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs cliente-new-form">
    <%= f.input :apellido %>
    <%= f.input :nombre %>
    <%= f.input :domicilio %>
    <%= f.input :cliente_tipo, as: :radio_buttons, collection: Cliente::CLIENTE_TIPO, wrapper: :vertical_collection_inline, label:'Tipo Cliente'%>
    <%= f.input :telefono %>
    <%= f.input :celular %>
    <%= f.input :rubro %>
    <%= f.input :cuit %>
    <%= f.input :correo %>
  </div>
    <%= f.button :submit, placeholder: "Crear" %>
  </div>
<% end %>
