<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Estado</th>
      <th>Estado mkt</th>
      <th>Cuit</th>
      <th>Correo</th>
      <th>Observaciones cliente</th>
      <th>Rubro</th>
      <th>Cliente tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.apellido %></td>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.domicilio %></td>
        <td><%= cliente.celular %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.estado %></td>
        <td><%= cliente.estado_mkt %></td>
        <td><%= cliente.cuit %></td>
        <td><%= cliente.correo %></td>
        <td><%= cliente.observaciones_cliente %></td>
        <td><%= cliente.rubro %></td>
        <td><%= cliente.cliente_tipo %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
