<div class="container">
<p id="notice"><%= notice %></p>


<p>
  <strong>Apellido:</strong>
  <%= @cliente.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @cliente.domicilio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @cliente.rubro %>
</p>

<p>
  <strong>CUIT:</strong>
  <%= @cliente.cuit %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cliente.correo %>
</p>

<div class="d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight"><%= button_to  'Editar', edit_cliente_path(@cliente),method: :get %></div>
  <div class="p-2 bd-highlight">  <%= button_to 'Back', clientes_path(@cliente), method: :get %></div>
  <div class="p-2 bd-highlight"> <%= link_to 'Crear Certificado', new_certificado_path(@cliente)%></div>
</div>
</div>
