<%= simple_form_for(@queja) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="w-25"><strong><%= f.input :nro_queja, label:'N° Certificado' %></strong></div>
      <div><strong><%= f.input :fecha_queja,  label:'Fecha de reclamo'%></div></strong>
      <label><strong>Observaciones</strong></label>
      <div class="mb-5 p-1"><%= f.input :observacion, label: false  %></div>
        <div class="mb-5 p-1">  
          <%= f.label :certificado_nro %>
          <%= f.input :certificado_nro %>
        </div>  
      <div class="form-actions my-5 justify-content-between">
        <div><%= f.button :submit, name="Confirmar" ,:class => "btn btn-success"%></div>
      </div>
<% end %>
