<%= simple_form_for (@certificado) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs container certificado-edit">
    <div class="d-flex justify-content-between">
      <div><%= f.input :nro_certificado %></div>
      <div><%= f.input :superficie %></div>
      <div><%= f.input :codigo %></div>
    </div>
     <%= f.input :droga, as: :radio_buttons, collection: Certificado::DROGA, wrapper: :vertical_collection_inline, label:'Tipo Droga'%>
    <%= f.input :tratamiento, as: :radio_buttons, collection: Certificado::TRATAMIENTO, wrapper: :vertical_collection_inline, label:'Tipo Tratamiento'%>
    <%= f.input :vector, as: :radio_buttons, collection: Certificado::VECTOR, wrapper: :vertical_collection_inline, label:'Tipo Vector'%>
    <div class="d-flex justify-content-between">
      <div><%= f.input :fecha_aplicacion %></div>
      <div><%= f.input :hora_aplicacion %></div>
    </div>
    <%= f.input :fecha_vencimiento  %>
  </div>
    <%= f.button :submit, name="Confirmar", :class => "btn btn-success"%>
<% end %>

