<%= simple_form_for (@certificado) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs container certificado-edit">
    <div class="row justify-content-between">
      <div class="col-sm"><%= f.input :nro_certificado %></div>
      <div class="col-sm"><%= f.input :superficie %></div>
      <div class="col-sm"><%= f.input :codigo %></div>
     <div class="col-sm"><%= f.input :turno, as: :radio_buttons, collection: Certificado::TURNO, wrapper: :vertical_collection_inline, label:'Turno'%></div>
    </div>

    </div>
     <%= f.input :droga, as: :radio_buttons, collection: Certificado::DROGA, wrapper: :vertical_collection_inline, label:'Tipo Droga'%>
     <%= f.input :tratamiento, as: :radio_buttons, collection: Certificado::TRATAMIENTO, wrapper: :vertical_collection_inline, label:'Tipo Tratamiento'%>
    <%= f.input :vector, as: :radio_buttons, collection: Certificado::VECTOR, wrapper: :vertical_collection_inline, label:'Tipo Vector'%>
      <div><%= f.input :fecha_aplicacion %></div>
      <div><%= f.input :hora_aplicacion %></div>
    <%= f.input :fecha_vencimiento  %>
    <div class= "d-flex my-3">
      <div ><%= f.button :submit, name="Confirmar", :class => "btn btn-success"%></div>
     <div class="mx-5"><%= link_to 'Atrás', certificado_path(@certificado), :class => "btn btn-dark" %> </div>
    </div>
<% end %>

