<p id="notice"><%= notice %></p>

<h1>Certificados</h1>

<table>
  <thead>
    <tr>
      <th>Nro certificado</th>
      <th>Fecha aplicacion</th>
      <th>Fecha vencimiento</th>
      <th>Hora aplicacion</th>
      <th>Tratamiento</th>
      <th>Vector</th>
      <th>Superficie</th>
      <th>Droga</th>
      <th>Codigo</th>
      <th>Observaciones certificado</th>
      <th>Estado</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificados.each do |certificado| %>
      <tr>
        <td><%= certificado.nro_certificado %></td>
        <td><%= certificado.fecha_aplicacion %></td>
        <td><%= certificado.fecha_vencimiento %></td>
        <td><%= certificado.hora_aplicacion %></td>
        <td><%= certificado.tratamiento %></td>
        <td><%= certificado.vector %></td>
        <td><%= certificado.superficie %></td>
        <td><%= certificado.droga %></td>
        <td><%= certificado.codigo %></td>
        <td><%= certificado.observaciones_certificado %></td>
        <td><%= certificado.estado %></td>
        <td><%= certificado.cliente_id %></td>
        <td><%= link_to 'Show', certificado %></td>
        <td><%= link_to 'Edit', edit_certificado_path(certificado) %></td>
        <td><%= link_to 'Destroy', certificado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certificado', new_certificado_path %>
