<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @certificado.cliente.apellido %> </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="f3142bbb0a1696d5caa932ecab0fc530">
    <%= wicked_pdf_stylesheet_link_tag %>
    <%= wicked_pdf_javascript_include_tag %>
    <link rel="stylesheet" href="css/template.css">
  </head>
  <body>
    <div id="container">
      <div class="company-name">
          <span>SISA-Fumigaciones</span>
      </div>
        <div class="border-1">
          <div class="company-subtitle d-flex justify-content-between">
            <h1><strong>SISTEMA INTEGRAL DE SANEAMIENTO AMBIENTAL</strong></h1>
          </div>
          <div class="company-info">
            <div><p>PADRON N°68.023/03 - CAM-LSA 50 429/03 CUIT: 27-02898301-3 20-22583332-0</p></div>
            <div><p>ADMINISTRACIÓN & VENTAS: MANZANA N°748 LOTE N°8</p></div>
            <div><p>BARRIO SANTA ANA II - CP 4400-SALTA CAPITAL</p></div>
            <div><p>TELEFONOS: (0387) 4291082 - (0387) 4248560</p></div>
          </div>
      </div>

      <section id="invoice-cliente">
        <div class="datos-cliente">
          <br>

          <span><strong>Fecha de aplicación:</strong> <%= @certificado.fecha_aplicacion %></span>
          <span><strong>Apellido y nombre:</strong>  <%= @certificado.cliente.apellido %> <%= @certificado.cliente.nombre%></span>
          <span><strong>Domicilio:</strong>  <%= @certificado.cliente.domicilio %></span>
          <span><strong>Barrio:</strong>  <%= @certificado.cliente.domicilio %></span>
        </div>

        <div class="datos-cliente">
          <br>
          <span><strong>Hora Aplicación:</strong>  <%= @certificado.hora_aplicacion.strftime("%H:%M") %></span>
          <span><strong>Telefono</strong> <%= @certificado.cliente.telefono %></span>
          <span><strong>Celular</strong>  <%= @certificado.cliente.celular %></span>
          <span><br></span>
          <span><strong><%= @certificado.codigo %></strong> </span>
        </div>
      </section>
      <div>
        <span></span>
      </div>
       <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="no"><strong>Detalles</strong></th>
            <th class="desc"></th>
          </tr>
          <tr>
            <th class="no"><strong>Rubro</strong></th>
            <th class="unit"><strong><%= @certificado.cliente.rubro.upcase %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Tipo de Rubro</strong></th>
            <th class="unit"><strong><%= @certificado.cliente.cliente_tipo %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Tratamiento</strong></th>
            <th class="unit"><strong><%= @certificado.tratamiento %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Vector Tratado</strong></th>
            <th class="unit"><strong><%= @certificado.vector %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Superficie tratada</strong></th>
            <th class="unit"><strong><%= @certificado.superficie %></strong></th>
          </tr>
          <tr>
            <th class="no"><strong>Droga Usada</strong></th>
            <th class="unit"><strong><%= @certificado.droga %></strong></th>
          </tr>
         </thead>
      </table>

      <div class="container-text">
        <p>Antídoto: 1 Piretroydes: Tratamietno Sintomático - Bromadilone: Vitamina K1 -DDVP:Sulfato de Atropina.
        Recomendaciones: 1 -mantener cerrado el ambiente tratado mínimo 4 horas, ventilar y lavar(sin lavandina) las superficies de uso culinario, etc.</p>
      </div>
      <div class="container">
        <h1><strong>La firma brinda garantía de satisfacción, validez 30 días corridosposteriores al servicio, sin excepción.</strong></h1>
        <p>GARANTÍA SUJETA A INSPECCIONES TECNICAS, A LAS CONDICIONES DE HIGIENE, EDILICIAS, CLIMATICAS, AL GRADO DE INFESTACION Y AL TIPO DE PLAGA - LA EFECTIVIDAD DEL SERVICIO NO DEPENDE DE LAS FECHAS DE APLICACIÓN Y VENCIMIENTO DE ESTE CERTIFICADO, SOLO DEL PLAN DE TRABAJO ACORDADO, COMERCIOS DONDE SE EXPENDA, ELABORE, FRACCIONES Y AMACENE ALIMENTOS, LA CERTIFICACIÓN DE SERVICIOS NO SERA SUPERIOR A LOS 60 DÍAS, SEGÚN ORDENANZA N°12.157/04 -DECRETO N°917/98 DE LA MUNICIPALIDAD DE LA CIUDAD DE SALTA.</p>
      </div>
      <div class="container">
        <h1><strong>OBSERVACIONES:</strong></h1>
      </div>
    <div class="container d-flex justify-content-between">
      <div>
        <h1><strong><%= @certificado.fecha_vencimiento %></strong></h1>
        <h1><strong>FECHA DE VENCIMIENTO</strong></h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>RECIBE CONFORME</h1>
      </div>
      <div>
        <h1><strong><%= @certificado.fecha_vencimiento %></strong></h1>
        <h1><strong>FECHA DE VENCIMIENTO</strong></h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Por S.I.S.A Gerente o Técnico</h1>
      </div>
    </div>
  </div>

  </body>
</html>

<style>
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext,vietnamese");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top:20px;
  margin-bottom: 20px;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Invoice styles */
/**
 * DON'T override any styles for the <html> and <body> tags, as this may break the layout.
 * Instead wrap everything in one main <div id="container"> element where you may change
 * something like the font or the background of the invoice
 */
html, body {
  /* MOVE ALONG, NOTHING TO CHANGE HERE! */
}

/**
 * IMPORTANT NOTICE: DON'T USE '!important' otherwise this may lead to broken print layout.
 * Some browsers may require '!important' in oder to work properly but be careful with it.
 */
.clearfix {
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

b, strong, .bold {
  font-weight: bold;
}

#container {
  font: normal 13px/1.4em 'Open Sans', Sans-serif;
  margin: 0 auto;
  border: solid 1px;
}
 .nro_certificado {
 position: absolute;
 right: 40px;
 font-color: #8BA09E;
 margin-top: 5px;
 margin-bottom: 40px;
 font-size: 20px;
  }


.company-name {
  background: #67BA2A 560px center no-repeat;
  background-size: 100px auto;
  padding: 10px 20px;
  position: relative;
  margin: 20px;
}
 .company-name span {
  color: white;
  display: inline-block;
  min-width: 20px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1em;
}
 .company-name .right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: url("../img/right-arrow.png") right center no-repeat;
  background-size: auto 70px;
}



.company-nro-certificado {
  background: #67BA2A 560px center no-repeat;
  background-size: 100px auto;
  padding: 5px 20px;
  position: absolute;
  right: 30px;
  top: -40px;
  margin: 20px;
}
 .company-nro-certificado span {
  color: white;
  display: inline-block;
  min-width: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
}

.border-1 {
  border-bottom: solid 1px:
  margin-bottom: 20px;
}
 .company-subtitle {
  margin-left: 20px;
  font-size: 20px;
  color: 000;
  margin-bottom: 15px;
}

 .company-info {
  margin-left: 20px;
  font-size: 15px;
  color: 000;
}
 .company-info div {
  margin-bottom: 3px;
  min-width: 20px;
}
 .company-info span {
  min-width: 20px;
}

.datos-cliente span {
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 15px;
}
#invoice-cliente {
  float: left;
   border-top: solid 1px;
   width: 120%;
}
#invoice-cliente > div {
  float: left;
}
#invoice-cliente div span  {
  display: block;
  white-space: nowrap;
  min-width: 40px;
  min-height: 18px;
  margin-bottom: 3px;
}
#invoice-cliente > div:last-child {
  margin-left: 20px;
}
#invoice-cliente:after {
  content: '';
  display: block;
  clear: both;
}


#client-info {
  float: right;
  margin: 5px 20px 0 0;
  min-width: 220px;
  text-align: right;
}
#client-info > div {
  margin-bottom: 3px;
  min-width: 20px;
}
#client-info span {
  display: block;
  min-width: 20px;
}

#invoice-title-number {
  text-align: center;
  margin: 20px 0;
}
#invoice-title-number span {
  display: inline-block;
  min-width: 20px;
}
#invoice-title-number #title {
  margin-right: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
#invoice-title-number #number {
  font-size: 15px;
  text-align: left;
}

table {
  table-layout: fixed;

}
table th, table td {
  vertical-align: top;
  word-break: keep-all;
  word-wrap: break-word;

}

#items {
  margin: 20px 0 35px 0;
}
#items .first-cell, #items table th:first-child, #items table td:first-child {
  width: 18px;
  text-align: right;
}
#items table {
  border-collapse: separate;
  width: 100%;
}
#items table th {
  padding: 12px 10px;
  text-align: right;
  background: #E6E7E7;
  border-bottom: 4px solid #487774;
}
#items table th:nth-child(2) {
  width: 30%;
  text-align: left;
}
#items table th:last-child {
  text-align: right;
  padding-right: 20px !important;
}
#items table td {
  padding: 15px 10px;
  text-align: right;
  border-right: 1px solid #CCCCCF;
}
#items table td:first-child {
  text-align: left;
  border-right: 0 !important;
}
#items table td:nth-child(2) {
  text-align: left;
}
#items table td:last-child {
  border-right: 0 !important;
  padding-right: 20px !important;
}

.currency {
  border-bottom: 4px solid #487774;
  padding: 0 20px;
}
.currency span {
  font-size: 11px;
  font-style: italic;
  color: #8b8b8b;
  display: inline-block;
  min-width: 20px;
}

#sums {
  float: right;
  background: #8BA09E url("../img/left-arrow.png") -17px bottom no-repeat;
  background-size: auto 100px;
  color: white;
}
#sums table tr th, #sums table tr td {
  min-width: 100px;
  padding: 8px 20px 8px 35px;
  text-align: right;
  font-weight: 600;
}
#sums table tr th {
  text-align: left;
  padding-right: 25px;
}
#sums table tr.amount-total th {
  text-transform: uppercase;
}
#sums table tr.amount-total th, #sums table tr.amount-total td {
  font-size: 16px;
  font-weight: bold;
}
#sums table tr:last-child th {
  text-transform: uppercase;
}
#sums table tr:last-child th, #sums table tr:last-child td {
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}

#terms {
  margin: 50px 20px 10px 20px;
}
#terms > span {
  display: inline-block;
  min-width: 20px;
  font-weight: bold;
}
#terms > div {
  margin-top: 10px;
  min-height: 50px;
  min-width: 50px;
}

.payment-info {
  margin: 0 20px;
}
.payment-info div {
  font-size: 12px;
  color: #8b8b8b;
  display: inline-block;
  min-width: 20px;
}

.ib_bottom_row_commands {
  margin: 10px 0 0 20px !important;
}

.ibcl_tax_value:before {
  color: white !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
}

table .qty {
}

table .total {
  background: #57B223;
  color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid #AAAAAA;
}

table tfoot tr:first-child td {
  border-top: none;
}

table tfoot tr:last-child td {
  color: #57B223;
  font-size: 1.4em;
  border-top: 1px solid #57B223;

}

table tfoot tr td:first-child {
  border: none;
}

/**
 * If the printed invoice is not looking as expected you may tune up
 * the print styles (you can use !important to override styles)
 */
@media print {
  /* Here goes your print styles */
}

