<div class="container"></div>
<div class="container">
<p id="notice"><%= notice %></p>

<h1>Detalles del certificado</h1>
<br>
<br>
  <div>
    <p>
      <strong class="font-weight-bold">Nro de Certificado:</strong>
      <%= @certificado.nro_certificado %>
    </p>

    <p>
      <strong class="font-weight-bold">Apellido:</strong>
      <%= @certificado.cliente.apellido %>
    </p>

    <p>
      <strong class="font-weight-bold">Nombre:</strong>
      <%= @certificado.cliente.nombre %>
    </p>

    <p>
      <strong class="font-weight-bold">Domicilio:</strong>
      <%= @certificado.cliente.domicilio %>
    </p>

    <p>
      <strong class="font-weight-bold">Tratamiento:</strong>
      <%= @certificado.tratamiento %>
    </p>

    <p>
      <strong class="font-weight-bold">Vectores:</strong>
      <%= @certificado.vector %>
    </p>
    <p>
      <strong class="font-weight-bold">Superficie:</strong>
      <%= @certificado.superficie %>
    </p>
    <p>
      <strong class="font-weight-bold">Veneno:</strong>
      <%= @certificado.droga %>
    </p>
    <p>
      <strong class="font-weight-bold">C칩digo:</strong>
      <%= @certificado.codigo %>
    </p>
    <p>
      <strong class="font-weight-bold">Turno:</strong>
      <%= @certificado.turno %>
    </p>

    <p>
      <strong class="font-weight-bold">Fecha de aplicaci칩n:</strong>
      <%= @certificado.fecha_aplicacion %>
    </p>

    <p>
      <strong class="font-weight-bold">Hora de aplicaci칩n:</strong>
      <%= @certificado.hora_aplicacion %>
    </p>
    <p>
      <strong class="font-weight-bold">Fecha de vencimiento:</strong>
      <%= @certificado.fecha_vencimiento %>
    </p>

<div class="d-flex justify-content-between bd-highlight mb-3">
  <div class="d-flex justify-content-between">
    <div class="p-2 bd-highlight"><%= button_to  'Editar', edit_certificado_path(@certificado),method: :get, :class => "btn btn-dark" %></div>
    <div class="p-2 bd-highlight">  <%= button_to 'Atr치s', certificados_path, method: :get, :class => "btn btn-dark" %></div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="p-2 bd-highlight"><%= link_to "Imprimir Certificado", certificado_path(@certificado, format: :pdf, template: 'certificados/pdf'), class: 'btn-u', method: :get, :form => {"data-type" => "pdf" },:class => "btn btn-success" %></div>
    <!-- <div class="p-2 bd-highlight">< link_to "Imprimir FAJA",  calendario_path ></div> -->
  </div>
</div>
</div>
</div>
