<div class="container"></div>
<div class="container">
<p id="notice"><%= notice %></p>

<h1>Detalles del certificado</h1>
<br>
<br>
  <div>
    <p>
      <strong>Nro de Certificado:</strong>
      <%= @certificado.nro_certificado %>
    </p>

    <p>
      <strong>Apellido:</strong>
      <%= @certificado.cliente.apellido %>
    </p>

    <p>
      <strong>Nombre:</strong>
      <%= @certificado.cliente.nombre %>
    </p>

    <p>
      <strong>Domicilio:</strong>
      <%= @certificado.cliente.domicilio %>
    </p>

    <p>
      <strong>Tratamiento:</strong>
      <%= @certificado.tratamiento %>
    </p>

    <p>
      <strong>Vectores:</strong>
      <%= @certificado.vector %>
    </p>

    <p>
      <strong>Superficie:</strong>
      <%= @certificado.superficie %>
    </p>

    <p>
      <strong>Veneno:</strong>
      <%= @certificado.droga %>
    </p>

    <p>
      <strong>C칩digo:</strong>
      <%= @certificado.codigo %>
    </p>

    <p>
      <strong>Fecha de aplicaci칩n:</strong>
      <%= @certificado.fecha_aplicacion %>
    </p>

    <p>
      <strong>Hora de aplicaci칩n:</strong>
      <%= @certificado.hora_aplicacion %>
    </p>

    <p>
      <strong>Fecha de vencimiento:</strong>
      <%= @certificado.fecha_vencimiento %>
    </p>

<div class="d-flex justify-content-between bd-highlight mb-3">
  <div class="d-flex justify-content-between">
    <div class="p-2 bd-highlight"><%= button_to  'Editar', edit_certificado_path(@certificado),method: :get %></div>
    <div class="p-2 bd-highlight">  <%= button_to 'Atr치s', certificados_path, method: :get %></div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="p-2 bd-highlight"><%= link_to "Imprimir Certificado", certificado_path(@certificado, format: :pdf), class: 'btn-u', method: :get, :form => {"data-type" => "pdf" },:class => "btn btn-secondary" %></div>
    <div class="p-2 bd-highlight"><%= link_to "Imprimir FAJA", clientes_path(format: :pdf), class: 'btn-u', method: :get, :form => {"data-type" => "pdf" },:class => "btn btn-secondary" %></div>
  </div>
</div>
</div>
</div>
