<p id="notice"><%= notice %></p>

<h1>Tecnicos</h1>

<table>
  <thead>
    <tr>
      <th>Dni</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Observaciones tecnico</th>
      <th>Telefono</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tecnicos.each do |tecnico| %>
      <tr>
        <td><%= tecnico.dni %></td>
        <td><%= tecnico.apellido %></td>
        <td><%= tecnico.nombre %></td>
        <td><%= tecnico.domicilio %></td>
        <td><%= tecnico.observaciones_tecnico %></td>
        <td><%= tecnico.telefono %></td>
        <td><%= tecnico.estado %></td>
        <td><%= link_to 'Show', tecnico %></td>
        <td><%= link_to 'Edit', edit_tecnico_path(tecnico) %></td>
        <td><%= link_to 'Destroy', tecnico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tecnico', new_tecnico_path %>
