<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong class="font-weight-bold">Dni:</strong>
    <%= @tecnico.dni %>
  </p>

  <p>
    <strong class="font-weight-bold">Apellido:</strong>
    <%= @tecnico.apellido %>
  </p>

  <p>
    <strong class="font-weight-bold">Nombre:</strong>
    <%= @tecnico.nombre %>
  </p>

  <p>
    <strong class="font-weight-bold">Domicilio:</strong>
    <%= @tecnico.domicilio %>
  </p>

  <p>
    <strong class="font-weight-bold">Telefono:</strong>
    <%= @tecnico.telefono %>
  </p>

<%= link_to 'Editar', edit_tecnico_path(@tecnico),:class => "btn btn-dark" %>
<%= link_to 'Atrás', tecnicos_path,:class => "btn btn-dark" %>
</div>
